{% block card_default %}
  <div class="iastate22-card clickable">
    {% if card.card.image -%}
      <div class="iastate22-card__media">
        <img src="{{ card.card.image.url|e('esc_url') }}"
             alt="{{ card.card.image.alt|e('esc_attr') }}"
             width="{{ card.card.image.width|e('esc_attr') }}"
             height="{{ card.card.image.height|e('esc_attr') }}">
      </div>
    {%- endif %}
    <div class="iastate22-card__content">
      {% if card.card.title -%}
        <h2 class="iastate22-card__title">
          <a href="{{ card.card.card_link.url|e('esc_url') }}"{% if card.card.card_link.target == "_blank" %} target="_blank"{% endif %}>{{ card.card.title }}</a>
        </h2>
      {%- endif %}
      <div class="iastate22-card__body text-content">
        {{ card.card.content }}
      </div>
      {% if card.card.card_link.url and card.card.card_link.title -%}
        <a href="{{ card.card.card_link.url|e('esc_url') }}"
           class="iastate22-card__cta"{% if card.card.card_link.target == "_blank" %} target="_blank"{% endif %}>
          {{- card.card.card_link.title -}}
        </a>
      {%- endif %}
    </div>
  </div>
{% endblock card_default %}

{% block card_linked_image %}
  <div class="iastate22-card iastate22-card--linked-image">
    {% if card.card.image %}
      <div class="iastate22-card__media">
        <img src="{{ card.card.image.url|e('esc_url') }}" alt="{{ card.card.image.alt|e('esc_attr') }}">
      </div>
    {% endif %}
    {% if card.card.card_link.url and card.card.card_link.title %}
      <a class="iastate22-card__cta" href="{{ card.card.card_link.url|e('esc_url') }}"
          {%- if card.card.card_link.target == "_blank" %} target="_blank"{% endif -%}>
        {{- card.card.card_link.title }}
        <span class="arrow"></span>
      </a>
    {% endif %}
  </div>
{% endblock card_linked_image %}

{% block card_profile_with_modal %}
  {% set modal = card.card.card_modal %}
  <div
      class="iastate22-card iastate22-card--profile-with-modal" {% if clickable is defined %} data-clickable="{{ clickable|e('esc_attr') }}" {% endif %}>
    {% if card.card.image %}
      <div class="iastate22-card__media">
        <img src="{{ card.card.image.url|e('esc_url') }}" loading="lazy" width="600" height="600"
             alt="{{ card.card.image.alt|e('esc_attr') }}">
      </div>
    {% endif %}
    <div class="iastate22-card__content">
      {% if card.card.title %}
        <h2 class="iastate22-card__title">{{ card.card.title }}</h2>
      {% endif %}
      {% if card.card.name %}
        <div class="iastate22-card__name">
          <p>{{ card.card.name }}</p>
        </div>
      {% endif %}
      <div class="iastate22-card__role">
        <p>{{ card.card.role }}</p>
      </div>
      {% set modalID = function('wp_unique_id', 'profile-modal-') %}
      <button class="iastate22-card__cta" data-micromodal-trigger="{{ modalID|e('esc_attr') }}">
        {{ card.card.modal_cta }}
      </button>
    </div>
  </div>
  <div class="iastate22-modal iastate22-card--profile-with-modal" id="{{ modalID|e('esc_attr') }}" aria-hidden="false">
    <div class="iastate22-modal__overlay" tabindex="-1" data-micromodal-close>
      <div id="{{ modalID }}-content" role="dialog" aria-modal="true" aria-labelledby="{{ modalID }}-title"
          class="iastate22-modal__container{% if modal.modal_image.url|length > 0 %} iastate22-modal__container-with-media"{% endif %}>
        <button class="iastate22-modal__close" aria-label="Close modal" data-micromodal-close>
          <i class="fa-light fa-xmark" aria-hidden="true"></i>
        </button>
        {% if modal.modal_image.url|length > 0 %}
          <div class="iastate22-modal__media-name-wrap">
            <div class="iastate22-modal__media">
              <img src="{{ modal.modal_image.url|e('esc_url') }}" alt="{{ modal.modal_image.alt|e('esc_attr') }}"
                   loading="lazy" width="207" height="197">
            </div>
            <div class="iastate22-modal__name-role-wrap">
              <div class="iastate22-card__name">
                <p>{{ card.card.name }}</p>
              </div>
              {% if card.card.role %}
                <div class="iastate22-card__role">
                  <p>{{ card.card.role }}</p>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
        <div class="iastate22-modal__content">
          <h2 class="iastate22-modal__title" id="{{ modalID }}-title">{{ card.card.title }}</h2>
          <div class="iastate22-modal__body-content text-content">{{ modal.modal_content|raw }}</div>
          <div class="iastate22-modal__content-cta">
            <p>{{ modal.modal_cta.cta_intro }}</p>
            {% if modal.modal_cta.link.url and modal.modal_cta.link.title %}
              <a href="{{ modal.modal_cta.link.url|e('esc_url') }}"{% if modal.modal_cta.link.target == "_blank" %} target="_blank"{% endif %}>
                {{- modal.modal_cta.link.title -}}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock card_profile_with_modal %}

{% block card_video %}
  {%- set video = card.card.video.video_display_group -%}
  {%- set modalID = function('wp_unique_id', 'video-modal-') -%}
  {%- set modal = card.card.card_modal -%}
  <div
      class="iastate22-card iastate22-card--linked-image" {% if clickable is defined %} data-clickable="{{ clickable|e('esc_attr') }}" {% endif %}>
    {% if card.card.image %}
      <div class="iastate22-card__media">
        <img src="{{ card.card.image.url|e('esc_url') }}" alt="{{ card.card.image.alt|e('esc_attr') }}"
             loading="lazy" width="600" height="600">
      </div>
    {% endif %}
    <button class="iastate22-card__cta" data-micromodal-trigger="{{ modalID|e('esc_attr') }}">
      {{- card.card.modal_cta }}
      <span class="icon-video">
      <svg xmlns="http://www.w3.org/2000/svg" width="31" height="18.002" viewBox="0 0 31 18.002"
           class="icon-video--inactive">
        <path transform="translate(0 0)" fill="#7c2529"
              d="M31,3.984a2.153,2.153,0,0,0-2.891-1.846L23,3.75V2.979A3.03,3.03,0,0,0,19.916,0H3.1A3.052,3.052,0,0,0,0,3v12.02A3.047,3.047,0,0,0,3.026,18H19.9A3.055,3.055,0,0,0,23,15.007v-.746l5.045,1.59a2.2,2.2,0,0,0,.8.153h.014a1.992,1.992,0,0,0,1.063-.264A2.027,2.027,0,0,0,31,13.979Zm-10,11A1.079,1.079,0,0,1,19.916,16H3.063A1.08,1.08,0,0,1,2,15V3.024A1.049,1.049,0,0,1,3.061,2H19.933A1.062,1.062,0,0,1,21,3V14.981Zm7.98-1.005a.215.215,0,0,1-.108.028h0l-.155-.038L23,12.164V5.847l5.78-1.826a.229.229,0,0,1,.081-.016h.047A.119.119,0,0,1,29,4.037Z"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="30.873" height="18" viewBox="0 0 30.873 18"
           class="icon-video--active">
        <path id="SVG_Video_Gold_Fill" transform="translate(982 -12898)" fill="#f1be48"
              d="M-980.032,12916a2.129,2.129,0,0,1-1.968-2.249v-13.5a2.129,2.129,0,0,1,1.968-2.25h16.93a2.131,2.131,0,0,1,1.974,2.25v13.507A2.13,2.13,0,0,1-963.1,12916Zm27.316-2.1-6.412-2.162v-9.481l6.412-2.159a1.093,1.093,0,0,1,.451-.1,1.167,1.167,0,0,1,1.138,1.2v11.6a1.218,1.218,0,0,1-.541,1.021,1.1,1.1,0,0,1-.593.175A1.115,1.115,0,0,1-952.716,12913.9Z"/>
      </svg>
    </span>
    </button>
  </div>
  <div class="iastate22-modal iastate22-modal--with-video"
       id="{{ modalID|e('esc_attr') }}" aria-hidden="false">
    <div class="iastate22-modal__overlay" tabindex="-1" data-micromodal-close>
      <div id="{{ modalID|e('esc_attr') }}-content" role="dialog" aria-modal="true" aria-labelledby="{{ modalID }}-title"
          class="iastate22-modal__container{% if video.local_file.url|length > 0 %} iastate22-modal__container-with-media"{% endif %}>
        <button class="iastate22-modal__close" aria-label="Close modal" data-micromodal-close>
          <i class="fa-light fa-xmark" aria-hidden="true"></i>
        </button>

        {% if video.source == 'media_gallery' %}
        {% endif %}

        {%- if video.local_file.url|length > 0 %}
          <div class="iastate22-modal__media-name-wrap">
            <div class="iastate22-modal__media">
              <div class="video-embed">
                <div class="video-embed__media-wrap">
                  <video class="video-embed__video">
                    <source src="{{ video.local_file.url|e('esc_url') }}">
                  </video>
                </div>
                <div class="video-embed__caption">
                  {{ video.caption }}
                </div>
              </div>
            </div>
          </div>
        {% endif -%}
        <div class="iastate22-modal__content">
          <h2 class="iastate22-modal__title" id="{{ modalID }}-title">{{ video.title }}</h2>
          <div class="iastate22-modal__body-content text-content">{{ modal.modal_content|raw }}</div>
        </div>
      </div>
    </div>
  </div>
{% endblock card_video %}
