{% if posts|length %}
	<div class="paragraph-widget paragraph-widget--hero-stories-feed-item-set">
		<div class="hero-stories-feed-item-set">
			<ul>
				{% for post in posts %}
					{%- set post_preview = theme_post_preview(post) -%}
					{%- set post_thumbnail = theme_post_thumbnail(post) -%}
					<li>
						<div class="hero-stories-feed-item">
						{%- if post_thumbnail %}
							<div class="hero-stories-feed-item__media">
								<div class="hero-stories-feed-item__media-container">
									<a href="{{ post.link|e('esc_url') }}">
										<img class="hero-stories-feed-item__media-image img-fluid" src="{{ post_thumbnail.src|e('esc_url') }}" alt="{{ post_thumbnail.alt|e('esc_attr') }}" loading="lazy">
									</a>
								</div>
							</div>
						{% endif -%}
						<div class="hero-stories-feed-item__content {%- if post_preview %} hero-stories-feed-item__content__with_blurb {%- endif %}">
							<div class="hero-stories-feed-item__content-tags">
								<ul>
									{%- for term in post.terms -%}
										{%- if term.taxonomy == "category" -%}
											<li>{{ term.name }}</li>
										{%- endif -%}
									{%- endfor -%}
								</ul>
							</div>
							<h2 class="hero-stories-feed-item__title">
								<a class="iastate22-link-secondary" href="{{ post.link|e('esc_url') }}">{{ post.post_title }}<span class="arrow"></span></a>
							</h2>
              {% if post_preview %}
                <div class="hero-stories-feed-item__content-blurb"><p>{{ post_preview }}</p></div>
              {% endif %}
							{%- if post.type.slug == 'post' %}
								<p class="hero-stories-feed-item__content-date">{{ post.date }}</p>
							{% endif %}
						</div>
					</div>
          </li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}
