{% if posts|length %}
<div class="paragraph-widget paragraph-widget--hero-stories-feed-item-set">
    <div class="hero-stories-feed-item-set">
        <ul>
            {% for post in posts %}
                {% if post._thumbnail_id|length > 0 %}
                    {% set thumbNail = Image(post._thumbnail_id) %}
                {% elseif post.meta('hero_image')|length > 0 %}
                    {% set thumbNail = post.meta('hero_image') %}
                {% else %}
                    {% set thumbNail = NULL %}
                {% endif %}
                <div class="hero-stories-feed-item">
                    <div class="hero-stories-feed-item__media">
                        <div class="hero-stories-feed-item__media-container">
                            <a href="{{ post.link }}">
                            {% if thumbNail != NULL %}
                                <img class="hero-stories-feed-item__media-image" src="{{ thumbNail.src }}" alt="{{ thumbNail.alt }}" loading="lazy">
                            {% else %}
                                <img class="hero-stories-feed-item__media-image" src="{{ site.link }}/wp-content/themes/wordpress-theme/vendor/iastate/frontend-component-library/build/img/News_Default_FeaturedImage.jpg" alt="No Thumbnail Available" loading="lazy">
                            {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="hero-stories-feed-item__content">
                        <div class="hero-stories-feed-item__content-tags">
                            <ul>
                                {% for term in post.terms %}
                                    {% if term.taxonomy == "category" %}
                                        <li>{{ term.name }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <h2 class="hero-stories-feed-item__title">
                            <a class="iastate22-link-secondary" href="{{ post.link }}">{{ post.post_title }}<span class="arrow"></span></a>
                        </h2>
                        <p class="hero-stories-feed-item__content-date">{{ post.date }}</p>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}