{% if posts|length %}
<div class="paragraph-widget paragraph-widget--hero-stories-feed-item-set">
    <div class="hero-stories-feed-item-set">
        <ul>
            {% for post in posts %}
                {% if post._thumbnail_id|length > 0 %}
                    {% set thumbNail = Image(post._thumbnail_id) %}
                {% elseif post.meta('hero_image')|length > 0 %}
                    {% set thumbNail = post.meta('hero_image') %}
                {% else %}
                    {% set thumbNail = NULL %}
                {% endif %}
                <div class="hero-stories-feed-item">
                  {% if thumbNail != NULL %}
                    <div class="hero-stories-feed-item__media">
                        <div class="hero-stories-feed-item__media-container">
                            <a href="{{ post.link }}">
                                <img class="hero-stories-feed-item__media-image" src="{{ thumbNail.src }}" alt="{{ thumbNail.alt }}" loading="lazy">
                            </a>
                        </div>
                    </div>
                  {% endif %}
                    <div class="hero-stories-feed-item__content">
                        <div class="hero-stories-feed-item__content-tags">
                            <ul>
                                <li>Category</li>
                                <li>Lorem Category</li>
                                <li>Dolore Ipsum Category</li>
                            </ul>
                        </div>
                        <h2 class="hero-stories-feed-item__title">
                            <a class="iastate22-link-secondary" href="{{ post.link }}">{{ post.post_title }}<span class="arrow"></span></a>
                        </h2>
                        <p class="hero-stories-feed-item__content-date">September 12, 2023</p>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}