<div class="paragraph-widget paragraph-widget--blockquote"{% if fields.anchor_target|length > 0 %} id="{{ fields.anchor_target }}"{% endif %}>
  <div class="iastate22-blockquote{% if fields.blockquote_image %} iastate22-blockquote--with-image{% else %} iastate22-blockquote--with-no-image{% endif %}{% if not fields.blockquote_copy.attribution %} iastate22-blockquote--no-author{% endif %}">
    <div class="iastate22-blockquote__inner-wrap">
      {% if fields.blockquote_image %}
        <div class="iastate22-blockquote__portrait">
          <img src="{{ fields.blockquote_image.url }}" alt="{{ fields.blockquote_image.alt }}" width="{{ fields.blockquote_image.width }}" height="{{ fields.blockquote_image.height }}"/>
        </div>
      {% endif %}
      <div class="iastate22-blockquote__text-wrap">
        {% if fields.blockquote_copy.quote %}
          <h2 class="iastate22-blockquote__quote">{{ fields.blockquote_copy.quote }}</h2>
        {% endif %}
        {% if fields.blockquote_copy.attribution %}
          <p class="iastate22-blockquote__author">{{ fields.blockquote_copy.attribution }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
