<div class="paragraph-widget paragraph-widget--callout-inset">
    <div class="callout-inset">
    <div class="callout-inset_inset">
        <h2 class="callout-inset_inset-headline">{{fields.callout.title}}</h2>
        <div>{{fields.callout.content }}</div>
    </div>
    <div class="feature-with-large-image">
        <div class="feature-with-large-image__media">
            <img src="{{ fields.image.url }}" alt="{{ fields.image.alt }}" width="{{ fields.image.width }}" height="{{ fields.image.height }}"/>
        </div>
        <div class="feature-with-large-image__content">
            <h2>{{ fields.inset.title }}</h2>
            <div class="feature-with-large-image__text">{{fields.inset.content}}</div>
            <div class="iastate22-button-set">
                <ul>
                    <li>
                        <a class="iastate22-button" href="{{ fields.inset.link.url }}">{{ fields.inset.link.label }}<span class="arrow"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>