<div class="paragraph-widget paragraph-widget--callout-set"{% if fields.anchor_target|length > 0 %} id="{{ fields.anchor_target }}"{% endif %}>
	<div class="callout-set">
		<ul>
			{% for callout in fields.callout_set %}
				<li>
					<div class="iastate22-callout{% if callout.callout_image %}{% else %} iastate22-callout--no-image{% endif %}">
						{% if callout.callout_image %}
							<div class="iastate22-callout__media">
								<img src="{{ callout.callout_image.url|e('esc_url') }}" alt="{{ callout.callout_image.title|e('esc_attr') }}" width="622" height="414"/>
							</div>
						{% endif %}
						<div class="iastate22-callout__content text-content">
							{% if callout.callout_content.title %}
								<h3>{{ callout.callout_content.title|striptags }}</h3>
							{% endif %}
							{% if callout.callout_content.content %}
								<div>{{ callout.callout_content.content }}</div>
							{% endif %}
							{% if callout.callout_content.callout_ctas %}
								<div class="link-set">
									<ul>
										{% for item in callout.callout_content.callout_ctas %}
											<li>
												{% if item.link_style == "button" %}
													{% set linkClass = "link-set__link iastate22-button" %}
												{% elseif item.link_style == "standard" %}
													{% set linkClass = "link-set__link iastate22-link-secondary" %}
												{% elseif item.link_style == "external" %}
													{% set linkClass = "link-set__link iastate22-link-external" %}
												{% elseif item.link_style == "minimal" %}
													{% set linkClass = "link-set__link link-tertiary" %}
												{% endif %}
												<a class="{{ linkClass }}" href="{{ item.link_url }}" {% if item.link_style == "external" %} target="_blank" {% endif %}>
													{{ item.label }}
													<span class="arrow"></span>
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
