<div class="paragraph-widget paragraph-widget--callout-with-image"{% if block.anchor|length > 0 %} id="{{ block.anchor|e('esc_attr') }}"{% endif %}>
	<div class="callout-with-image">
		<div class="callout-with-image__media">
			<img src="{{ fields.callout_with_image.callout_image.url|e('esc_url') }}" alt="{{ fields.callout_with_image.callout_image.title|e('esc_attr') }}" width="622" height="414"/>
		</div>
		<div class="callout-with-image__content text-content">
			{% if fields.callout_with_image.callout_content.title %}
				<h2>{{ fields.callout_with_image.callout_content.title }}</h2>
			{% endif %}
			<div>{{ fields.callout_with_image.callout_content.content }}</div>
			{% if fields.callout_with_image.callout_content.callout_ctas %}
				<div class="link-set">
					<ul>
						{% for item in fields.callout_with_image.callout_content.callout_ctas %}
							{% if item.link_url|length > 0 %}
								<li>
									{% if item.link_style == "button" %}
										{% set linkClass = "link-set__link iastate22-button" %}
									{% elseif item.link_style == "standard" %}
										{% set linkClass = "link-set__link iastate22-link-secondary" %}
									{% elseif item.link_style == "external" %}
										{% set linkClass = "link-set__link iastate22-link-external" %}
									{% elseif item.link_style == "minimal" %}
										{% set linkClass = "link-set__link link-tertiary" %}
									{% endif %}
									<a class="{{ linkClass|e('esc_attr') }}" href="{{ item.link_url|e('esc_url') }}" {% if item.link_style == "external" %} target="_blank" {% endif %}>
										{{ item.label }}
										<span class="arrow"></span>
									</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</div>
	</div>
</div>
