<div class="paragraph-widget paragraph-widget--card-set">
	<div class="card-set">
		<ul>
			{% for card in fields.cards %}
				<li>
					{% if card.card.card_type == "default" %}
						<div class="iastate22-card clickable">
							{% if card.card.image %}
								<div class="iastate22-card__media">
									<img src="{{ card.card.image.url }}" alt="{{ card.card.image.alt }}" width="{{ card.card.image.width }}" height="{{ card.card.image.height }}">
								</div>
							{% endif %}
							<div class="iastate22-card__content">
								{% if card.card.title %}
									<h2 class="iastate22-card__title">
										<a href="{{ card.card.link.url }}">{{ card.card.title }}</a>
									</h2>
								{% endif %}
								<div class="iastate22-card__body text-content">
									{{ card.card.content }}
								</div>
								{% if card.card.link.url and card.card.link.label and card.card.link_toggle == "true" %}
									<a href="{{ card.card.link.url }}" class="iastate22-card__cta">{{ card.card.link.label }}</a>
								{% endif %}
							</div>
						</div>
					{% elseif card.card.card_type == "linked_image" %}
						<div class="iastate22-card iastate22-card--linked-image">
							{% if card.card.image %}
								<div class="iastate22-card__media">
									<img src="{{ card.card.image.url }}" alt="">
								</div>
							{% endif %}
							{% if card.card.link.url and card.card.link.label %}
								<a class="iastate22-card__cta" href="{{ card.card.link.url }}">{{ card.card.link.label }}<span class="arrow"></span>
								</a>
							{% endif %}
						</div>
					{% elseif card.card.card_type == "profile_with_modal" %}
						{% set modal = card.card.card_modal %}
						<div class="iastate22-card iastate22-card--profile-with-modal" {% if clickable is defined %} data-clickable="{{ clickable }}" {% endif %}>
							{% if card.card.image %}
								<div class="iastate22-card__media">
									<img src="{{ card.card.image.url }}" alt="" loading="lazy" width="600" height="600">
								</div>
							{% endif %}
							<div class="iastate22-card__content">
								{% if card.card.title %}
									<h2 class="iastate22-card__title">{{ card.card.title }}</h2>
								{% endif %}
								<div class="iastate22-card__name">
									<p>{{ card.card.name }}</p>
								</div>
								<div class="iastate22-card__role">
									<p>{{ card.card.role }}</p>
								</div>
								<button class="iastate22-card__cta" data-micromodal-trigger="{{ modal.id }}">{{ card.card.modal_cta }}</button>
								<div class="iastate22-modal iastate22-card--profile-with-modal" id="{{ modal.id }}" aria-hidden="false">
									<div class="iastate22-modal__overlay" tabindex="-1" data-micromodal-close>
										<div class="iastate22-modal__container iastate22-modal__container-with-media" id="{{ modal.id }}-content" role="dialog" aria-modal="true" aria-labelledby="{{ modal.id }}-title">
											<button class="iastate22-modal__close" aria-label="Close modal" data-micromodal-close>
												<i class="fa-light fa-xmark" aria-hidden="true"></i>
											</button>
											<div class="iastate22-modal__media-name-wrap">
												<div class="iastate22-modal__media">
													<img src="{{ modal.modal_image.url }}" alt="" loading="lazy" width="207" height="197">
												</div>
												<div class="iastate22-modal__name-role-wrap">
													<div class="iastate22-card__name">
														<p>{{ card.card.name }}</p>
													</div>
													{% if card.card.role %}
														<div class="iastate22-card__role">
															<p>{{ card.card.role }}</p>
														</div>
													{% endif %}
												</div>
											</div>
											<div class="iastate22-modal__content">
												<h2 class="iastate22-modal__title" id="{{ modal.id }}-title">{{ card.card.title }}</h2>
												<div class="iastate22-modal__body-content text-content">{{ modal.modal_content|raw }}</div>
												<div class="iastate22-modal__content-cta">
													<p>{{ modal.modal_cta.cta_intro }}</p>
													<a href="{{ modal.modal_cta.link.url }}">{{ modal.modal_cta.link.title }}</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
