<div
	class="paragraph-widget paragraph-widget--carousel"{% if block.anchor|length > 0 %} id="{{ block.anchor|e('esc_attr') }}"{% endif %}>
	<div class="iastate22-carousel-holder">
		<div class="iastate22-carousel">
			{% for slide in fields.carousel %}
				<div class="carousel__slide">
					{% if slide.carousel_content == "image" %}
						<div class="carousel__slide-image"
							 style="background-image:url({{ slide.carousel_image.url }})"></div>
					{% elseif slide.carousel_content == "video" %}
						<div class="video-embed">
							<div class="video-embed__media-wrap">
								{% if slide.carousel_video.video.poster_image.url %}
									<img src="{{ slide.carousel_video.video.poster_image.url|e('esc_url') }}"
										 alt="{{ slide.carousel_video.video.poster_image.alt|e('esc_attr') }}"
										 width="{{ slide.carousel_video.video.poster_image.width|e('esc_attr') }}"
										 height="{{ slide.carousel_video.video.poster_image.height|e('esc_attr') }}"/>
								{% else %}
									{% if slide.carousel_video.video.source == "youtube" %}
										<img
											src="https://img.youtube.com/vi/{{ slide.carousel_video.video.youtube_video_id }}/maxresdefault.jpg"
											alt="Video Poster">
									{% elseif slide.carousel_video.video.source == "vimeo" %}
										<img
											src="https://vumbnail.com/{{ slide.carousel_video.video.vimeo_video_id }}.jpg"
											alt="Video Poster">
									{% endif %}
								{% endif %}
								{% if slide.carousel_video.video.source == "youtube" %}
									<div class="video-embed__video"
										 aria-label="YouTube Video: {{ slide.carousel_video.video.title }}"
										 data-vid="{{ slide.carousel_video.video.youtube_video_id|e('esc_attr') }}"></div>
								{% elseif slide.carousel_video.video.source == "vimeo" %}
									<div data-vimeo-id="{{ slide.carousel_video.video.vimeo_video_id|e('esc_attr') }}"
										 class="video--vim"></div>
								{% endif %}
							</div>
							{% if fields.media_caption_toggle == true %}
								<div class="video-embed__caption">{{ fields.media_caption }}</div>
							{% endif %}
						</div>
					{% endif %}
					<div class="carousel__slide-content">
						{% if slide.carousel_caption %}
							<div class="carousel__slide-content-caption">{{ slide.carousel_caption }}</div>
						{% endif %}
						{% if slide.title %}
							<h3 class="carousel__slide-content-title">{{ slide.title }}</h3>
						{% endif %}
						{% if slide.carousel_copy %}
							<div class="carousel__slide-content-body">{{ slide.carousel_copy }}</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="carousel__nav">
			<div class="carousel__nav-sizer"></div>
			<button class="carousel__nav-previous" aria-label="Previous slide">
				<span class="visible-for-screen-readers">Previous slide</span>
			</button>
			<button class="carousel__nav-next" aria-label="Next slide">
				<span class="visible-for-screen-readers">Next slide</span>
			</button>
		</div>
	</div>
</div>
