<div class="paragraph-widget paragraph-widget--call-to-action--large"{% if fields.anchor_target|length > 0 %} id="{{ fields.anchor_target|e('esc_attr') }}"{% endif %}>
	<div class="call-to-action call-to-action--large">
		<div class="call-to-action__media">
			<img src="{{ fields.callout_image.url|e('esc_url') }}" alt="{{ fields.callout_image.alt|e('esc_attr') }}" width="{{ fields.callout_image.width|e('esc_attr') }}" height="{{ fields.callout_image.height|e('esc_attr') }}"/>
		</div>
		<div class="call-to-action__copy-wrap">
			<h2 class="call-to-action__headline">{{ fields.callout_content.title|striptags }}</h2>
			<div class="text-content">{{ fields.callout_content.content }}</div>
			<div class="iastate22-button-set">
				<ul>
					{% for item in fields.callout_content.callout_cta %}
					<li><a class="iastate22-button" href="{{ item.link_url|e('esc_url') }}">{{ item.link_text }}<span class="arrow"></span></a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
