{% set bits = range('A','Z') %}
{% set activeLetters = [] %}
{% for post in allposts %}
    {% set activeLetters = activeLetters|merge([post.meta('last_name')|first|lower]) %}
{% endfor %}
<div class="faculty-staff-directory-header">
    <div class="ecosystem-home-hero ecosystem-home-hero--no-image">
        <div class="ecosystem-home-hero__content">
            {% include ['templates/partial/breadcrumbs.twig'] %}
            {% if options.search_filters.hero_title|length > 0 %}
                <h1 class="ecosystem-home-hero__title">{{ options.search_filters.hero_title}}</h1>
            {% else %}
                <h1 class="ecosystem-home-hero__title">{{ posts[0].post_title }}</h1>
            {% endif %}
        </div>
    </div>
    {% for fltr in options.search_filters.search_filters.filters %}
        {% if fltr == "standard"  %}
            <div class="paragraph-widget paragraph-widget--filter-form">
                <div class="filter-form">
                    {% if options.search_filters.search_filters.filter_label|length > 0 %}
                        <h2 class="filter-form__label">{{ options.search_filters.search_filters.filter_label }}</h2>
                    {% endif %}
                    <form class="iastate22-form iastate22-form--inline" id="searchform" action="{{ site.link }}/profiles/" method="get">
                        <input type="hidden" name="post_type" value="profiles" tabindex="-1"/>
                        {% if "a-z" in options.search_filters.search_filters.filters %}
                            {% set activLtr = function('get_query_var', 'search_letter') %}
                            <input type="hidden" name="search_letter" id="search_letter" value="{{ activLtr }}" tabindex="-1"/>
                        {% endif %}
                    <div class="form-item">
                        <label for="s">Search</label>
                        <input class="iastate22-form--search" type="text" name="s" id="s" value="{{ function('get_search_query') }}" tabindex="1">
                    </div>
                    {% for item in profile_tax %}
                        {% set lp = loop.index - 1 %}
                        {% if profile_terms[lp]|length > 0 %}
                            <div class="form-item">
                                <label for="select-choice">{{ item.label }}</label>
                                <select class="iastate22-form--select" name="{{ item.name }}" id="{{ item.name }}">
                                    <option value=""></option>
                                    {% for term in profile_terms[lp] %}
                                        <option value="{{ term.slug }}"
                                        {% if function('get_query_var', item.name) == term.slug %}
                                        selected
                                        {% endif %}
                                        >{{ term.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="form-item">
                        <button type="submit">Search<span class="arrow"></span>
                        </button>
                    </div>
                    </form>
                    <div class="filter-form-results">About {{ posts.found_posts }} Results &bull;{% if reset == true %} <button type="reset">Reset</button>{% endif %}</div>
                </div>
            </div>
        {% elseif fltr == "a-z" %}
            {% if options.search_filters.filters|length == 1 %}
            <div class="paragraph-widget paragraph-widget--filter-form">
                <div class="filter-form a-z-index-header-container">
                    <h2 class="filter-form__label">{{ options.search_filters.filter_label }}</h2>
                </div>
            </div>
            {% endif %}
            <div class="a-z-index-letter-list">
            {% if "standard" in options.search_filters.search_filters.filters != true %}
            <form id="searchform" action="{{ site.link }}/profiles/" method="post">
                <input type="hidden" name="post_type" value="profiles" tabindex="-1"/>
                <input type="hidden" name="active_letter" value="{{ function('get_query_var', 'active_letter') }}" tabindex="-1"/>
            </form>
            {% endif %}
                <ul>
                    {% for letter in bits %}
                        <li>
                           {% if letter|lower in activeLetters %}
                                <a href="#letter={{ letter }}">{{ letter }}</a>
                            {% else %}
                                <span>{{ letter }}</span>
                           {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endfor %}
</div>