<div class="paragraph-widget paragraph-widget--external-news-story"{% if fields.anchor_target|length > 0 %} id="{{ fields.anchor_target }}"{% endif %}>
	<div class="external-news-story">
		{% if fields.title %}
			<h2>{{ fields.title }}</h2>
		{% endif %}
		<div class="external-news-story__flex-wrap">
			<div class="external-news-story__media">
				<img src="{{ fields.story.thumbnail.url }}" alt="{{ fields.story.thumbnail.alt }}" width="{{ fields.story.thumbnail.width }}" height="{{ fields.story.thumbnail.height }}"/>
			</div>
			<div class="external-news-story__content text-content">
				{% if fields.story.headline %}
					<h3>{{ fields.story.headline }}</h3>
				{% endif %}
				{% if fields.story.excerpt %}
					<div>{{fields.story.excerpt }}</div>
				{% endif %}
				<div class="link-set">
					<ul>
						<li><a class="link-set__link iastate22-link-external"href="{{ fields.story.link.url }}" target="_blank">{{ fields.story.link.label }}<span class="arrow"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
