<div class="paragraph-widget paragraph-widget--card-set">
    <div class="card-set">
        <h2 class="card-set__title">{{ fields.title }}</h2>
        <ul>
            {% for evt in fields.featured_events %}
                {% set event = Post(evt) %}
                {% if event._thumbnail_id %}
                    {% set thumbnail = Image(event._thumbnail_id) %}
                {% endif %}
                <li>
                    <div class="iastate22-card iastate22-card--event clickable">
                        {% if thumbnail %}
                            <div class="iastate22-card__media">
                                <img src="{{ thumbnail.src }}" alt="{{ thumbnail.alt }}" loading="lazy" width="{{ thumbnail.width }}" height="{{ thumbnail.height }}">
                            </div>
                        {% endif %}
                        <div class="iastate22-card__content">
                            <h2 class="iastate22-card__title">
                                <a href="{{ event.link }}}" target="_blank">{{ event.post_title }}</a>
                            </h2>
                            <div class="iastate22-card__body">
                                <time class="iastate22-card__time" datetime="{{ event.event_date|date("Y-m-d") }}">
                                    {{ event.event_start_date_start_date|date("l, F d Y") }}{% if event.event_start_date_full_day != true %} at {{ event.event_start_date_start_time|date("g:ia") }}{% endif %}
                                </time>
                                {% if event.terms('locations')|length > 0 %}
                                    <div class="iastate22-card__location">
                                        {% for location in event.terms('locations') %}
                                            {{ location.name }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>    
</div>