<div class="paragraph-widget paragraph-widget--feature-with-large-image">
    <div class="feature-with-large-image">
    <div class="feature-with-large-image__media">
        <img src="{{ fields.image.url|striptags }}" alt="{{ fields.image.alt|striptags }}" width="{{ fields.image.width|striptags }}" height="{{ fields.image.height|striptags }}" />
    </div>
    <div class="feature-with-large-image__content">
        {% if fields.callout.title %}<h2>{{ fields.callout.title|striptags }}</h2>{% endif %}
        {% if fields.callout.content %}<div class="feature-with-large-image__text">{{ fields.callout.content|striptags }}</div>{% endif %}
        {% if fields.callout.link.url %}
        <div class="iastate22-button-set">
            <ul>
                <li>
                    <a class="iastate22-button" href="{{ fields.callout.link.url|striptags }}">{{ fields.callout.link.label|striptags }}<span class="arrow"></span></a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
    </div>
</div>