{% if fields.ecosystem == "featured_image" %}
  {% set heroClass = "ecosystem-home-hero ecosystem-home-hero--featured-image" %}
{% elseif fields.ecosystem == "supporting_image" %}
  {% set heroClass = "ecosystem-home-hero ecosystem-home-hero--supporting-image" %}
{% elseif fields.ecosystem == "atmospheric_image" %}
  {% set heroClass = "ecosystem-home-hero ecosystem-home-hero--atmospheric-image" %}
{% elseif fields.ecosystem == "video" %}
  {% set heroClass = "ecosystem-home-hero ecosystem-home-hero--background-video ecosystem-home-hero--featured-image" %}
{% elseif fields.ecosystem == "plain" %}
  {% set heroClass = "ecosystem-home-hero ecosystem-home-hero--no-image" %}
{% endif %}
<div class="{{ heroClass }}">
  {% if fields.ecosystem == "supporting_image" or fields.ecosystem == "plain" %}
    <div class="ecosystem-home-hero__content">
      <h1 class="ecosystem-home-hero__title">
        {% if fields.hero_title|length > 0 %}
          {{ fields.hero_title }}
        {% else %}
          {% set title = "" %}
          {% for post in posts %}
            {% set title = post.post_title %}
          {% endfor %}
          {{ title }}
        {% endif %}
      </h1>
      {% if fields.buttons %}
        <div class="iastate22-button-set">
          <ul>
            {% for button in fields.buttons %}
              {% if button.link_url %}
              <li>
                <a class="iastate22-button" href="{{ button.link_url }}">{{ button.label }}<span class="arrow"></span></a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  {% endif %}
  {% if fields.ecosystem == "plain" %}

  {% else %}
  <div class="ecosystem-home-hero__media">
    <img src="{{ fields.hero_image.hero_image.url }}" alt="{{ fields.hero_image.hero_image.alt }}" width="{{ fields.hero_image.hero_image.width }}" height="{{ fields.hero_image.hero_image.height }}">
    {% if fields.ecosystem == "video" %}
      {% if fields.video.source == "youtube" %}
        <div class="ecosystem-home-hero__video" aria-label="YouTube Video: {{ fields.video.video_title }}" data-vid="{{ fields.video.youtube_video_id }}"></div>
      {% elseif fields.video.source == "vimeo" %}
        <div class="ecosystem-home-hero__video" aria-label="Vimeo Video: {{ fields.video.video_title }}" data-vimeo-muted="true" data-vimeo-loop="true" data-vimeo-background="true" data-vimeo-autoplay="true" data-vimeo-id="{{ fields.full_width_video.vimeo_video_id|striptags }}"></div>
      {% endif %}
    {% endif %}
  </div>
  {% endif %}
  {% if fields.ecosystem == "featured_image" or fields.ecosystem == "atmospheric_image" or fields.ecosystem == "video" %}
  <div class="ecosystem-home-hero__content">
    <h1 class="ecosystem-home-hero__title">
        {% if fields.hero_title|length > 0 %}
          {{ fields.hero_title }}
        {% else %}
          {% set title = "" %}
          {% for post in posts %}
            {% set title = post.post_title %}
          {% endfor %}
          {{ title }}
        {% endif %}
    </h1>
    
    <div class="iastate22-button-set">
      <ul>
        {% for button in fields.buttons %}
          {% if button.link_url %}
          <li>
            <a class="iastate22-button" href="{{ button.link_url }}">{{ button.label }}<span class="arrow"></span></a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
</div>