<div class="paragraph-widget paragraph-widget--multicolumn-content">
  <div class="multi-column-content{% if fields.columns|length < 3 %} multi-column-content-two-col{% endif %}">
    {% for column in fields.columns %}
    <div class="multi-column-content__column">
      <div class="text-content">
        {% if column.title %}<h3>{{ column.title }}</h3>{% endif %}
        {% for content in column.content %}
          {% for ct in content.content_type %}  
            {% if ct.acf_fc_layout == "text_content" %}
              <div>{{ ct.text_content }}</div>
            {% elseif ct.acf_fc_layout == "image" %}
              <img src="{{ ct.image.url }}" alt="{{ ct.image.alt }}" width="{{ ct.image.width }}" height="{{ ct.image.height }}">
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
