<h1>WHUT?</h1>
<div class="paragraph-widget paragraph-widget--news-items"{% if fields.anchor_target|length > 0 %} id="{{ fields.anchor_target }}"{% endif %}>
    <div class="news-items__wrap">
        {% if fields.in_the_news_title|length > 0 %}
            <div class="text-content">
                <h2>{{ fields.in_the_news_title}}</h2>
            </div>
        {% endif %}
        <div class="news-items">
        {% for item in fields.news_cards %}
        <div class="news-item">
            <div class="news-item">
                <div class="news-item__tags">
                    <ul>
                        {% if item.news_tags|length > 0 %}
                            {% for tag in item.news_tags %}    
                                <li>{{ tag.tag }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="news-item__article-title">
                    {{ item.link_style }}
                    {% if item.link_style == "external" %}
                        {% set classes = "link-set__link iastate22-link-external" %}
                    {% elseif item.link_style == "standard" %}
                        {% set classes = "link-set__link iastate22-link-secondary" %}
                    {% elseif item.link_style == "button" %}
                        {% set classes = "link-set__link iastate22-button" %}
                    {% elseif item.link_style == "minimal" %}
                        {% set linkClass = "link-set__link link-tertiary" %}
                    {% endif %}
                    <a href="{{ item.news_story_link.url }}" class="{{ classes }}"{% if item.news_story_link.target|length > 0 %} target="{{ item.news_story_link.target }}"{% endif %}>{{ item.news_story_link.title }}<span class="arrow"></span></a>
                </div>
                <p class="news-item__article-excerpt">{{ item.news_story_excerpt }}</p>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>