<div class="hero">
  <div class="hero__text-wrap">
    {% include ['templates/partial/breadcrumbs.twig'] %}
    <h1 class="hero__title">
      {% if options.news_page_options.hero_title %}
        {{options.news_page_options.hero_title }}
      {% else %}
        {{ wp_title }}
      {% endif %}
    </h1>
  </div>
  {% if options.news_page_options.hero_image %}
  <div class="hero__media">
    <img src="{{options.news_page_options.hero_image.url}}" alt="{{options.news_page_options.hero_image.alt}}" width="{{ options.news_page_options.hero_image.width }}" height="{{ options.news_page_options.hero_image.height }}">
  </div>
  {% endif %}
</div>
{# <pre>
    {{ dump(options) }}
</pre> #}