<div class="hero"{% if fields.anchor_target|length > 0 %} id="{{ fields.anchor_target|e('esc_attr') }}"{% endif %}>
  <div class="hero__text-wrap">
    {% include ['templates/partial/breadcrumbs.twig'] %}
    <h1 class="hero__title">
      {% if post.meta('hero_title') %}
        {{ post.meta('hero_title') }}
      {% else %}
        {{ wp_title }}
      {% endif %}
    </h1>
  </div>
  {% if post.meta('hero_image') %}
  <div class="hero__media">
    <img src="{{ post.meta('hero_image').url }}" alt="{{ post.meta('hero_image').alt }}" width="{{ post.meta('hero_image').width }}" height="{{ post.meta('hero_image').height }}">
  </div>
  {% endif %}
</div>
