<div class="hero"{% if block.anchor|length > 0 %} id="{{ block.anchor|e('esc_attr') }}"{% endif %}>
	<div class="hero__text-wrap">
		{% include ['templates/partial/breadcrumbs.twig'] %}
		{% if field.hero_title or wp_title %}
			<h1 class="hero__title">
				{% if fields.hero_title %}
					{{ fields.hero_title }}
				{% else %}
					{{ wp_title }}
				{% endif %}
			</h1>
		{% endif %}
	</div>
	{% if post.meta('hero_image') %}
		<div class="hero__media">
			<img src="{{ post.meta('hero_image').url }}" alt="{{ post.meta('hero_image').alt }}"
				 width="{{ post.meta('hero_image').width }}" height="{{ post.meta('hero_image').height }}">
		</div>
	{% endif %}
</div>
