<div class="recent-articles"{% if block.anchor|length > 0 %} id="{{ block.anchor|e('esc_attr') }}"{% endif %}>
    {% if fields.section_title|length > 0 %}
        <div class="text-content">
            <h2>{{ fields.section_title }}</h2>
        </div>
    {% endif %}
    <div class="card-set">
        {% if fields.feed_style.value == "syndicated" and recent_articles %}
        <ul>
            {% for key, article in recent_articles %}
                {% if key < post_count %}
					{% set maybe_thumbnail = null %}
					{% if article.use_featured_image_as_hero|boolval %}
						{% set maybe_thumbnail = article.thumbnail %}
					{% else %}
						{% if article.meta('hero_image') %}
							{% set maybe_thumbnail = Image(article.hero_image) %}
						{% endif %}
					{% endif %}
                    <li>
                        <div class="iastate22-card iastate22-card--recent-article clickable">
							{% if maybe_thumbnail %}
                            <div class="iastate22-card__media">
								<img src="{{ maybe_thumbnail.src|e('esc_url') }}" alt="{{ maybe_thumbnail.alt|e('esc_attr') }}" loading="lazy" width="{{ maybe_thumbnail.width|e('esc_attr') }}" height="{{ maybe_thumbnail.height|e('esc_attr') }}">
                            </div>
							{% endif %}

                            <div class="iastate22-card__content">
                            <div class="iastate22-card__content-tags">
                                <ul class="iastate22-card__content-tags__list">
                                    {% for term in article.terms %}
                                        {% if term.taxonomy == "category" %}
                                            <li class="iastate22-card__content-tags__list-item">{{ term.name }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <h2 class="iastate22-card__title">
                                <a class="iastate22-link-secondary" href="{{ article.link|e('esc_url') }}" target="_blank">{{ article.post_title }}</a>
                            </h2>
                            <p class="iastate22-card__date">{{ article.post_date|date("F d, Y") }}</p>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% elseif fields.feed_style.value == "curated" %}
            <ul>
            {% if post_count == 3 %}
                {% for key, article in fields.pick_three %}
					{% set maybe_thumbnail = null %}
					{% if article.use_featured_image_as_hero|boolval %}
						{% set maybe_thumbnail = article.thumbnail %}
					{% else %}
						{% if article.meta('hero_image') %}
							{% set maybe_thumbnail = Image(article.hero_image) %}
						{% endif %}
					{% endif %}
                    <li>
                        <div class="iastate22-card iastate22-card--recent-article clickable">
							{% if maybe_thumbnail %}
								<div class="iastate22-card__media">
                                    <img src="{{ maybe_thumbnail.src|e('esc_url') }}" alt="{{ maybe_thumbnail.alt|e('esc_attr') }}" loading="lazy" width="{{ maybe_thumbnail.width|e('esc_attr') }}" height="{{ maybe_thumbnail.height|e('esc_attr') }}">
                            	</div>
							{% endif %}

                            <div class="iastate22-card__content">
                            <div class="iastate22-card__content-tags">
                                <ul class="iastate22-card__content-tags__list">
                                    {% for term in Post(article).terms %}
                                        {% if term.taxonomy == "category" %}
                                            <li class="iastate22-card__content-tags__list-item">{{ term.name }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <h2 class="iastate22-card__title">
                                <a class="iastate22-link-secondary" href="{{ Post(article).link }}" target="_blank">{{ article.post_title }}</a>
                            </h2>
                            <p class="iastate22-card__date">{{ article.post_date|date("F d, Y") }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% elseif post_count == 6 %}
                {% for key, article in fields.pick_six %}
					{% set maybe_thumbnail = null %}
					{% if article.use_featured_image_as_hero|boolval %}
						{% set maybe_thumbnail = article.thumbnail %}
					{% else %}
						{% if article.meta('hero_image') %}
							{% set maybe_thumbnail = Image(article.hero_image) %}
						{% endif %}
					{% endif %}
                    <li>
                        <div class="iastate22-card iastate22-card--recent-article clickable">
							{% if maybe_thumbnail %}
                            	<div class="iastate22-card__media">
                                    <img src="{{ maybe_thumbnail.src|e('esc_url') }}" alt="{{ maybe_thumbnail.alt|e('esc_attr') }}" loading="lazy" width="{{ maybe_thumbnail.width|e('esc_attr') }}" height="{{ maybe_thumbnail.height|e('esc_attr') }}">
								</div>
							{% endif %}
                            <div class="iastate22-card__content">
                            <div class="iastate22-card__content-tags">
                                <ul class="iastate22-card__content-tags__list">
                                    {% for term in Post(article).terms %}
                                        {% if term.taxonomy == "category" %}
                                            <li class="iastate22-card__content-tags__list-item">{{ term.name }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <h2 class="iastate22-card__title">
                                <a class="iastate22-link-secondary" href="{{ Post(article).link }}" target="_blank">{{ article.post_title }}</a>
                            </h2>
                            <p class="iastate22-card__date">{{ article.post_date|date("F d, Y") }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% elseif post_count == 9 %}
                {% for key, article in fields.pick_nine %}
					{% set maybe_thumbnail = null %}
					{% if article.use_featured_image_as_hero|boolval %}
						{% set maybe_thumbnail = article.thumbnail %}
					{% else %}
						{% if article.meta('hero_image') %}
							{% set maybe_thumbnail = Image(article.hero_image) %}
						{% endif %}
					{% endif %}
                    <li>
                        <div class="iastate22-card iastate22-card--recent-article clickable">
							{% if maybe_thumbnail %}
								<div class="iastate22-card__media">
                                    <img src="{{ maybe_thumbnail.src|e('esc_url') }}" alt="{{ maybe_thumbnail.alt|e('esc_attr') }}" loading="lazy" width="{{ maybe_thumbnail.width|e('esc_attr') }}" height="{{ maybe_thumbnail.height|e('esc_attr') }}">
                            	</div>
							{% endif %}

							<div class="iastate22-card__content">
                            <div class="iastate22-card__content-tags">
                                <ul class="iastate22-card__content-tags__list">
                                    {% for term in Post(article).terms %}
                                        {% if term.taxonomy == "category" %}
                                            <li class="iastate22-card__content-tags__list-item">{{ term.name }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <h2 class="iastate22-card__title">
                                <a class="iastate22-link-secondary" href="{{ Post(article).link }}" target="_blank">{{ article.post_title }}</a>
                            </h2>
                            <p class="iastate22-card__date">{{ article.post_date|date("F d, Y") }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endif %}
    </div>
</div>
