<div class="recent-articles">
    {% if fields.section_title|length > 0 %}
        <div class="text-content">
            <h2>{{ fields.section_title }}</h2>
        </div>
    {% endif %}
    <div class="card-set">
        <ul>
        {% if recent_articles %}
            {% for article in recent_articles %}
                {% if Image(article._thumbnail_id) %}
                    {% set thumbNail = Image(article._thumbnail_id) %}
                {% elseif Image(article._hero_image) %}
                    {% set thumbNail = Image(article._hero_image) %}
                {% endif %}
                <li>
                <div class="iastate22-card iastate22-card--recent-article clickable">
                    {% if thumbNail.id != NULL %}
                    <div class="iastate22-card__media">
                        <img src="{{ thumbNail.src }}" alt="{{ thumbNail.alt }}" loading="lazy" width="600" height="600">
                    </div>
                    {% endif %}
                    
                    <div class="iastate22-card__content">
                    <div class="iastate22-card__content-tags">
                        <ul class="iastate22-card__content-tags__list">
                            <li class="iastate22-card__content-tags__list-item">Dolore Ipsum Category</li>
                        </ul>
                    </div>
                    <h2 class="iastate22-card__title">
                        <a class="iastate22-link-secondary" href="{{ article.link }}" target="_blank">{{ article.post_title }}</a>
                    </h2>
                    <p class="iastate22-card__date">{{ article.post_date|date("F, d Y") }}</p>
                    </div>
                </div>
                </li>
            {% endfor %}
        {% else %}
            {% if fields.news_stories == 3 %}
                {% for article in fields.pick_three %}
                    {% if Image(article._thumbnail_id) %}
                        {% set thumbNail = Image(article._thumbnail_id) %}
                    {% elseif Image(article._hero_image) %}
                        {% set thumbNail = Image(article._hero_image) %}
                    {% endif %}
                    <li>
                        <div class="iastate22-card iastate22-card--recent-article clickable">
                            {% if thumbNail.id != NULL %}
                            <div class="iastate22-card__media">
                                <img src="{{ thumbNail.src }}" alt="{{ thumbNail.alt }}" loading="lazy" width="600" height="600">
                            </div>
                            {% endif %}
                            
                            <div class="iastate22-card__content">
                            <div class="iastate22-card__content-tags">
                                <ul class="iastate22-card__content-tags__list">
                                    <li class="iastate22-card__content-tags__list-item">Dolore Ipsum Category</li>
                                </ul>
                            </div>
                            <h2 class="iastate22-card__title">
                                <a class="iastate22-link-secondary" href="{{ article.link }}" target="_blank">{{ article.post_title }}</a>
                            </h2>
                            <p class="iastate22-card__date">{{ article.post_date|date("F, d Y") }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% elseif fields.news_stories == 6 %}
                {% for article in fields.pick_six %}
                    {% if Image(article._thumbnail_id) %}
                        {% set thumbNail = Image(article._thumbnail_id) %}
                    {% elseif Image(article._hero_image) %}
                        {% set thumbNail = Image(article._hero_image) %}
                    {% endif %}
                    <li>
                        <div class="iastate22-card iastate22-card--recent-article clickable">
                            {% if thumbNail.id != NULL %}
                            <div class="iastate22-card__media">
                                <img src="{{ thumbNail.src }}" alt="{{ thumbNail.alt }}" loading="lazy" width="600" height="600">
                            </div>
                            {% endif %}
                            
                            <div class="iastate22-card__content">
                            <div class="iastate22-card__content-tags">
                                <ul class="iastate22-card__content-tags__list">
                                    <li class="iastate22-card__content-tags__list-item">Dolore Ipsum Category</li>
                                </ul>
                            </div>
                            <h2 class="iastate22-card__title">
                                <a class="iastate22-link-secondary" href="{{ article.link }}" target="_blank">{{ article.post_title }}</a>
                            </h2>
                            <p class="iastate22-card__date">{{ article.post_date|date("F, d Y") }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% elseif fields.news_stories == 9 %}
                {% for article in fields.pick_nine %}
                    {% if Image(article._thumbnail_id) %}
                        {% set thumbNail = Image(article._thumbnail_id) %}
                    {% elseif Image(article._hero_image) %}
                        {% set thumbNail = Image(article._hero_image) %}
                    {% endif %}
                    <li>
                        <div class="iastate22-card iastate22-card--recent-article clickable">
                            {% if thumbNail.id != NULL %}
                            <div class="iastate22-card__media">
                                <img src="{{ thumbNail.src }}" alt="{{ thumbNail.alt }}" loading="lazy" width="600" height="600">
                            </div>
                            {% endif %}
                            
                            <div class="iastate22-card__content">
                            <div class="iastate22-card__content-tags">
                                <ul class="iastate22-card__content-tags__list">
                                    <li class="iastate22-card__content-tags__list-item">Dolore Ipsum Category</li>
                                </ul>
                            </div>
                            <h2 class="iastate22-card__title">
                                <a class="iastate22-link-secondary" href="{{ article.link }}" target="_blank">{{ article.post_title }}</a>
                            </h2>
                            <p class="iastate22-card__date">{{ article.post_date|date("F, d Y") }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        {% endif %}
        </ul>
    </div>    
</div>