<div class="paragraph-widget paragraph-widget--statistic-with-text">
    <div class="statistic-with-text statistic-with-text--{{ fields.statistics_location }}">
        <div class="statistic">
            {% if fields.statistics_label %}<h2 class="statistics__label">{{ fields.statistics_label }}</h2>{% endif %}
            <ul>
                {% for statistic in fields.statistics_content.statistics %}
                <li>
                    <h3 class="statistic__title">{{ statistic.statistic }}</h3>
                    <div class="statistic__text">{{ statistic.text }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="statistic-with-text__text">
            {{fields.statistics_content.content}}
        </div>
    </div>
</div>