<div class="paragraph-widget paragraph-widget--table"{% if fields.anchor_target|length > 0 %} id="{{ fields.anchor_target|e('esc_attr') }}"{% endif %}>
    <div class="iastate22-table" role="region" aria-labelledby="{{ fields.table_caption.caption_id|e('esc_attr') }}" tabindex="0">
    <table>
        <caption id="{{ fields.table_caption.caption_id|e('esc_attr') }}">{{ fields.table_caption.caption }}</caption>
        <thead>
            <tr>
                {% for header in fields.table_headers %}
                    <th>{{ header.header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in fields.table_rows %}
                <tr>
                    {% for column in row.table_column %}
                        <td>{{ column.column_copy }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
