{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends "base.twig" %}

{% block content %}
  {# see `base.twig:27` for where this block's content will be inserted #}
  <div class="outer-pad">
  <div class="hero">
    <div class="hero__text-wrap">
      <h1 class="hero__title">{{ title }}</h1>
    </div>
    {% if fields.hero_image %}
    <div class="hero__media">
      <img src="{{fields.hero_image.url}}" alt="{{fields.hero_image.description}}" width="{{ fields.hero_image.width }}" height="{{ fields.hero_image.height }}">
    </div>
    {% endif %}
  </div>

    <div class="paragraph-widget paragraph-widget--text-html">
      <div class="text-content">
        {% for post in posts %}
          {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
        {% endfor %}
      </div>
    </div>
    {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
  </div>
{% endblock %}
