{% extends "base.twig" %}

{% block content %}
	<div class="outer-pad">
		<div class="hero">
			<div class="hero__text-wrap">
				<h1 class="hero__title">{{ post.title }}</h1>
				<p>{{ post.post_excerpt }}</p>
				<p><strong>This page is password protected</strong></p>
				<p><em>To see the content, enter the access code below.</em></p>
			</div>
			<form class="password-form" action="{{ site.site_url }}/wp-login.php?action=postpass" method="post">
				<label for="pwbox-{{ post.ID }}">Password:</label>
				<input class="password-box" name="post_password" id="pwbox-{{ post.ID }}" type="password"
					   placeholder="Password" size="20" maxlength="20"/>
				<input class="password-btn" type="submit" name="Submit" value="Submit"/>
			</form>
		</div>
	</div>
{% endblock %}
