{% extends "base.twig" %}

{% block content %}
	{% set hero_image = null %}
	{% if post.use_featured_image_as_hero|boolval %}
		{% set hero_image = post.thumbnail %}
	{% else %}
		{% if post.meta('hero_image') %}
			{% set hero_image = Image(post.hero_image) %}
		{% endif %}
	{% endif %}
	{% set show_author =
		post.meta('show_author') is null and post.meta('_meta_info') == 'hide_author' ? false :
		post.show_author|default(true)|boolval %}
	<div class="outer-pad">
		<p class="iastate-article__back-btn"><a href="{{ function('get_post_type_archive_link', 'post' ) }}">All Articles</a></p>
		<div class="hero--news-article text-content">
			<h1 class="hero--news-article__headline">{{ post.title }}</h1>
			{% if post.meta('subhead') %}
				<h2 class="hero--news-article__subhead">{{ post.meta('subhead') }}</h2>
			{% endif %}
			{% if show_author %}
				<div class="hero--news-article__attribution"><p><strong>Author: {{ post.author.name }}</strong> | Image: {{ post.author.name }}</p></div>
			{% endif %}
			{% if hero_image %}
				<div class="hero--news-article__media">
					<img src="{{ hero_image.src|e('esc_url') }}" alt="{{ hero_image.alt|e('esc_attr') }}">
				</div>
			{% endif %}
		</div>
		{% if post.share_this|boolval %}
			{% include "partial/share.twig" %}
		{% endif %}
		{% if post.pagination %}
			{{ post.paged_content }}
			{% include 'partial/pagination--interior.twig' with { pagination: post.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
		{% else %}
			{{post.content}}
		{% endif %}

		<div class="paragraph-widget paragraph-widget--article-category-tags">
			{% include ['templates/partial/post-category-tag.twig'] %}
		</div>
	</div><!-- /outer pad -->
{% endblock %}
