{% extends "base.twig" %}

{% block content %}
    <script>
    document.body.classList.add("faculty-bio");
    </script>
    {% set firstName = post.meta('first_name') %}
    {% set lastName = post.meta('last_name') %}
    {% set photo = post.meta('photo') %}
    {% set titles = post.meta('titles') %}
    {% set profileLinks = post.meta('profile_links') %}
    {% set email = post.meta('email') %}
    {% set phone = post.meta('phone') %}
    {% set address = post.meta('address') %}
    {% set social_networks = post.meta('social_networks') %}
    {% set biography = post.meta('bio') %}
    {% set resume = post.meta('resume') %}
    {% set degrees = post.meta('degrees') %}
    {% set affiliations = post.meta('affiliations') %}
    {% set publications = post.meta('publication') %}

<div class="outer-pad">
    <div class="faculty-staff-back-button">
        <a href="{{ function('get_post_type_archive_link','profiles') }}">{{ options.profile_back_button_label }}</a>
    </div>
    <div class="personal-profile-info-card_wrap">
        {% include "partial/personal-profile-info-card.twig" %}
    </div>
    {% if biography %}
        <div class="text-content">
            <h2>Bio</h2>
            {{ biography }}
        </div>
    {% endif %}
    {% if resume %}
        <div class="paragraph-widget paragraph-widget--button-set">
            <div class="iastate22-button-set">
                <ul>
                    {% if resume.url %}
                    <li>
                        <a class="iastate22-button" href="{{ resume.url|e('esc_url') }}">Download CV<span class="arrow"></span></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
    <div class="paragraph-widget paragraph-widget--multicolumn-content">
        <div class="multi-column-content multi-column-content-two-col">
            {% if degrees or affiliations %}
                {% if degrees %}
                    <div class="multi-column-content__column">
                        <div class="text-content">
                            <h2>Education</h2>
                            {% for degree in degrees %}
                                <p>{{ degree.degree }}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if affiliations[0]["affiliation"]|length > 1 %}
                    <div class="multi-column-content__column">
                        <div class="text-content">
                            <h2>Affiliations</h2>
                            {% for affiliation in affiliations %}
                                {% if affiliation.affiliation.url %}
                                <p>
                                    <a class="link-set__link iastate22-link-secondary" href="{{ affiliation.affiliation.url|e('esc_url') }}"{% if affiliation.affiliation.target == "_blank" %} target="_blank"{% endif %}>{{ affiliation.affiliation.title | default(affiliation.affiliation.url) }}<span class="arrow"></span></a>
                                </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% if publications %}
        <div class="paragraph-widget paragraph-widget--text-html">
            <div class="text-content">
                <h2>Selected Publications</h2>
                <ul>
                    {% for publication in publications %}
                        <li>{{ publication.publication }}{% if publication.reference %}<a href="{{ publication.reference.url|e('esc_url') }}"{% if publication.reference.target == "_blank" %} target="_blank"{% endif %}>{{ publication.reference.title }}</a>{% endif %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <div class="personal-profile-body">
        <div class="text-content">
            {{post.content}}
        </div>
    </div>
    <div class="paragraph-widget paragraph-widget--article-category-tags">
        <h4 class="category-title">{{ tax_a[0].name }}</h4>
        <ul class="category-tags">
            {% for term in post.terms %}
                    {% if term.taxonomy == tax_a[0].taxonomy %}
                        <li>
                            <a href="{{ term.link|e('esc_url') }}">{{ term.name }}</a>
                        </li>
                    {% endif %}
            {% endfor %}
        </ul>
        <h4 class="category-title">{{ tax_b[0].name }}</h4>
        <ul class="category-tags">
            {% for term in post.terms %}
                {% if term.taxonomy == tax_b[0].taxonomy %}
                    <li>
                        <a href="{{ term.link|e('esc_url') }}">{{ term.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>


</div>
{% endblock %}
