{% extends "base.twig" %}
{% from 'macros/blocks.twig' import announcement as post_announcement %}

{% set hero_image = null %}
{% if post.meta('use_featured_image_as_hero') %}
  {% set hero_image = post.thumbnail %}
{% else %}
  {% if post.meta('hero_image') %}
    {% set hero_image = Image(post.meta('hero_image')) %}
  {% endif %}
{% endif %}

{% block content %}
	<div class="outer-pad">
		{% if is_post_expired('2 years ago') -%}
			{{- post_announcement(
				'This is an archived story. The content, links and information may have changed since the publication date.',
				'info',
				'banner'
			) -}}
		{%- endif %}
		<p class="iastate-article__back-btn">
			<a href="{{ function('get_post_type_archive_link', post.type.slug ) }}">All Articles</a>
    </p>
		<div class="hero--news-article text-content">
			<h1 class="hero--news-article__headline">{{ post.title }}</h1>
			{% if post.meta('subhead') %}
				<h2 class="hero--news-article__subhead">{{ post.meta('subhead') }}</h2>
			{% endif %}
			<div class="hero--news-article__date">
				<time datetime="{{ post.date('Y-m-d') }}">{{ post.date }}</time>
				{%- if show_last_updated_date() %}
						<span class="hero--news-article__modified-date">
							| Updated: <time datetime="{{ post.modified_date('Y-m-d') }}">{{ post.modified_date }}</time>
						</span>
				{%- endif -%}
			</div>
			{% if show_post_author() %}
				<div class="hero--news-article__attribution">
					<p>
						<strong>Author: {{ post.meta('credits').author|default(post.author.name)|e('html') }}</strong>
						{%- if post.meta('credits').image %}
						| Image: {{ post.meta('credits').image|e('html') }}
						{%- endif -%}
					</p>
				</div>
			{% endif %}
			{% if hero_image %}
				<div class="hero--news-article__media">
					<img src="{{ hero_image.src|e('esc_url') }}" alt="{{ hero_image.alt|e('esc_attr') }}">
				</div>
			{% endif %}
		</div>
		{% if post.share_this|boolval %}
			{% include "partial/share.twig" %}
		{% endif %}
		{% if post.pagination %}
			{{ post.paged_content }}
			{% include 'partial/pagination--interior.twig' with { pagination: post.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
		{% else %}
			{{ post.content }}
		{% endif %}

		<div class="paragraph-widget paragraph-widget--article-category-tags">
			{% include ['templates/partial/post-category-tag.twig'] %}
		</div>
	</div><!-- /outer pad -->
{% endblock %}
