<div class="tease tease-{{post.post_type}} iastate22-card iastate22-card--teaser iastate22-card--teaser-news clickable" id="tease-{{post.ID}}">
	{% block content %}
		{% if post.thumbnail.src %}
			<div class="iastate22-card__media">
				<img src="{{post.thumbnail.src}}" />
			</div>
		{% endif %}
		<div class="iastate22-card__content">
			<a href="{{post.link}}" class="iastate22-card__cta">{{post.title}}</a>
			<p class="iastate22-card__content-body">{{post.preview.length(25)}}</p>
			<p class="iastate22-card__content-date">{{ post.date }}</p>
		</div>
	{% endblock %}
</div>