<header class="site-header site-header--ecosystem">
  <div class="site-header__top">
    <div class="site-header__logo-name-wrap">
      <a href="https://www.iastate.edu/" class="site-header__logo{% if not options.parent_unit.name %} site-header__logo-no-parent-unit{% endif %}">
        <img src="{{ "https://cdn.theme.iastate.edu/img/iastate22/iowa-state-university-logo-no-tagline-red.svg" }}" alt="Iowa State University">
      </a>
      {% if options.parent_unit.name %}<a class="site-header__parent-unit-name" href="{{ options.parent_unit.url }}">{{ options.parent_unit.name }}</a>{% endif %}
    </div>
    <div class="site-header__website-title"><a href="{{ site.url }}">{{ site.title }}</a></div>
    <div class="site-header__utility-search-wrap">
      {% if utility_menu %}
      <nav class="site-header__utility" aria-label="Utility">
        <ul>
          {% for link in utility_menu.items %}
            <li>
              {% if link.children %}
                <button class="site-header__utility-dropdown-trigger">{{ link.title }}</button>
                <ul class="site-header__utility-dropdown-menu">
                  {% for item in link.children %}  
                    <li>
                      <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                <a href="{{ link.url }}">{{ link.title }}</a>
              {% endif %}
            </li>
          {% endfor %}
          {% if options.info_for == true %}
            <li>
              <button class="site-header__utility-dropdown-trigger">Info For...</button>
              <ul class="site-header__utility-dropdown-menu" aria-hidden="true">
                <li>
                  <a href="https://students.info.iastate.edu/" target="_blank">Current Students</a>
                </li>
                <li>
                  <a href="https://facultystaff.info.iastate.edu" target="_blank">Faculty and Staff</a>
                </li>
              </ul>
            </li>
          {% endif %}
        </ul>
      </nav>
      <div class="site-header__search">
        <a href="#site-search" class="site-header__search-toggle">
          <span class="visible-for-screen-readers">Search</span>
          <span class="fak fa-iastate22-magnifying-glass" aria-hidden="true"></span>
        </a>
        <a href="#" class="site-header__search-close">
          <span class="visible-for-screen-readers">Close Search</span>
          <span class="fa-light fa-xmark"></span>
        </a>
        <form class="site-header__search-form-desktop" method="get" action="/">
            {{ function('get_search_form') }}
        </form>
      </div>
      {% endif %}
      {% if utility_button %}<a class="site-header__utility-button" href="{{ utility_button.url }}">{{ utility_button.title }}<span></span></a>{% endif %}
    </div>
  </div>
  <div class="site-header__main">
    <a href="#site-header-mega-menu" class="site-header__mega-menu-open" role="button" aria-controls="site-header-mega-menu">
      <span class="visible-for-screen-readers">Toggle Menu</span>
      <span class="site-header__mega-menu-open-line-wrap">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </a>
    <div class="site-header__mega-menu" id="site-header-mega-menu">
      <div class="site-header__mega-menu-inner">
        <div class="site-header__mega-menu-scroller">
          <noscript>
            <a href="#" role="button" class="nojs-close-menu">Close Main Menu</a>
          </noscript>
          <div>
            <div class="site-header__mega-menu-main">
              <div class="site-header__mega-menu-max-bound">
                <div class="site-header__website-title"><a href="{{ site.url }}">{{ site.title }}</a></div>
                {% if main_menu %}
                <nav class="site-header__mega-menu-main-nav" aria-label="Main">
                  <ul>
                    {% for key, link in main_menu.items %}
                      <li {% if not link.children %}class="site-header__parent-link-no-subnav-wrap" {% endif %}>
                        <a {% if not link.children %}class="site-header__parent-link-no-subnav" {% endif %}href="{{ link.url }}" {% if link.newtab %}target="_blank"{% endif %}>{{ link.title }}</a>
                        {% if link.children|length %}
                          <ul{% if link.children|length > 5 %} class="two-column-dropdown"{% endif %}>
                            {% for child in link.children %}
                              <li>
                                <a class="link-tertiary" href="{{ child.url }}">{{ child.title }}<span class="arrow"></span></a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                </nav>
                {% endif %}
              </div>
            </div>
            <div class="site-header__mega-menu-secondary">
              <div class="site-header__mega-menu-max-bound">
                <nav class="site-header__mega-menu-utility" aria-label="Utility">
                  <ul>
                    {% for link in utility_menu.items %}
                      <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                  {% if utility_button %}<a class="site-header__utility-button" href="{{ utility_button.url }}">{{ utility_button.title }}<span></span></a>{% endif %}
                  <form class="site-header__search-form-mobile" method="get" action="/">
                    {{ function('get_search_form') }}
                  </form>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<pre>
  {{ dump(options.info_for) }}
</pre>