{% set featuredStory = Post(options.news_page_options.main_featured_story[0]) %}
{% if Image(featuredStory.custom._thumbnail_id) %}
    {% set thumbNail = Image(featuredStory.custom._thumbnail_id) %}
{% endif %}
<div class="featured-news">
    <div class="featured-news-container">
        <div class="featured-news__large-article">
            <div class="featured-news__large-article__container">
                <div class="featured-news__featured-block">
                    <p>Featured</p>
                </div>
                <div class="featured-news__large-article__image-container">
                    {% if thumbNail %}
                        <img class="featured-news__large-article__image" src="{{ thumbNail.src|striptags }}" alt="{{ thumbNail.alt|striptags }}">
                    {% endif %}
                </div>
                <div class="featured-news__large-article__tags">
                    <ul>
                        {% for term in featuredStory.terms %}
                            {% if term.taxonomy == "category" %}
                                <li class="iastate22-card__content-tags__list-item">{{ term.name }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <h2 class="featured-news__large-article__title"><a href="{{ featuredStory.link|e('esc_url') }}" class="iastate22-link-secondary">{{ featuredStory.post_title }}<span class="arrow"></span></a></h2>
                <p class="featured-news__large-article__excerpt">{{ featuredStory.post_excerpt }}</p>
                <p class="featured-news__date">{{ featuredStory.post_date|date("F d, Y") }}</p>
            </div>
        </div>
        <div class="featured-news__small-article">
        {% for card in options.news_page_options.featured_card_stories %}
            {% set story = Post(card) %}
            {% if story._thumbnail_id != false %}
                {% set thumbNail = Image(story._thumbnail_id) %}
            {% elseif story.meta('hero_image') != false %}
                {% set thumbNail = Image(story.meta('hero_image')) %}
            {% else %}
                {% set thumbNail = false %}
            {% endif %}
            <div class="featured-news__small-article__container">
                {% if thumbNail != false %}
                    <div class="featured-news__small-article__image-container">
                        <img class="featured-news__small-article__image" src="{{ thumbNail.src|striptags }}" alt="{{ thumbNail.alt|striptags }}">
                    </div>
                {% endif %}
                {% if story.terms|length > 0 %}
                    <div class="featured-news__small-article__tags">
                        <ul>
                            {% for term in story.terms %}
                                {% if term.taxonomy == "category" %}
                                    <li>{{ term.name }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <h2 class="featured-news__small-article__title"><a href="{{ story.link|e('esc_url') }}" class="iastate22-link-secondary">{{ story.post_title }}<span class="arrow"></span></a></h2>
                <p class="featured-news__date">{{ story.post_date|date("F d, Y") }}</p>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
