{%- set is_home = function('is_home') -%}
<div class="paragraph-widget paragraph-widget--filter-form">
	<div class="filter-form">
		<h2 class="filter-form__label">
			{%- if is_home -%}
				All Stories
			{%- else -%}
				Site Search
			{%- endif -%}
		</h2>
		<form class="iastate22-form iastate22-form--inline" id="searchform" method="get"
					action="{{ ( is_home ? post.link : site.home )|e('esc_url') }}">
			{% if is_home %}
				<input type="hidden" name="post_type" value="post" tabindex="-1"/>
			{% endif %}
			<div class="form-item">
				<label for="s">Search</label>
				<input class="iastate22-form--search" type="text" name="s" id="s"
							 value="{{ function('get_search_query') }}" tabindex="1">
			</div>
			{% if categories|length > 0 %}
				<div class="form-item">
					<label for="category_name">Category</label>
					<select class="iastate22-form--select" name="category_name" id="category_name">
						<option value=""></option>
						{% for term in categories -%}
							{%- if term.count > 0 -%}
								<option
										value="{{ term.slug|e('esc_attr') }}" {% if function('get_query_var', 'category_name') == term.slug -%}
										selected
									{%- endif -%}
								>{{ term.name }}</option>
							{%- endif -%}
						{%- endfor %}
					</select>
				</div>
			{% endif %}

			{% if tags|length > 0 %}
				<div class="form-item">
					<label for="tag">Tag</label>
					<select class="iastate22-form--select" name="tag" id="tag">
						<option value=""></option>
						{% for term in tags -%}
							{%- if term.count > 0 -%}
								<option
										value="{{ term.slug|e('esc_attr') }}" {% if function('get_query_var', 'tag') == term.slug -%}
										selected
									{%- endif -%}
								>{{ term.name }}</option>
							{%- endif -%}
						{%- endfor %}
					</select>
				</div>
			{% endif %}
			<div class="form-item">
				<button type="submit">Search<span class="arrow"></span>
				</button>
			</div>
			<p class="filter-form-results">About {{ posts.found_posts }} Results •{% if reset == true %}
				<button type="reset">Reset</button>{% endif %}</p>
		</form>
	</div>
</div>
