<div class="personal-profile-info-card{% if not photo %} personal-profile-info-card--no-image{% endif %}">
  {% if photo %}
  <div class="personal-profile-info-card__media">
    <img src="{{ photo.url|e('esc_url') }}" alt="{{ photo.description|e('esc_attr') }}">
  </div>
  {% endif %}

  <div class="personal-profile-info-card__content">
    <h1 class="personal-profile-info-card__name">{{ firstName }} {{ lastName }}</h1>
    {% if titles %}
    <ul class="personal-profile-info-card__titles">
      {% for title in titles %}
      <li>
        {{ title.title }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if profileLinks %}
    <div class="link-set">
      <ul>
        {% for link in profileLinks %}
          {% if link.link.target == "_blank" %}
            {% set linkClass = "link-set__link iastate22-link-external" %}
          {% else %}
            {% set linkClass = "link-set__link iastate22-link-secondary" %}
          {% endif %}

          {% if link.link.url|length %}
          <li>
            <a href="{{ link.link.url|e('esc_url') }}" class="{{ linkClass|e('esc_attr') }}"{% if link.link.target == "_blank" %} target="_blank"{% endif %}>{{link.link.title | default(link.link.url)}}<span class="arrow"></span></a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}
  </div>
  <div class="personal-profile-info-card__contact-box">
  {% if email or phone or address %}
    <h3>Contact</h3>
    <div class="personal-profile-info-card__contact-box-columns-wrap">
      {% if email or phone %}
        <div class="personal-profile-info-card__contact-box-column">
          {% if email %}<p><a href="mailto:{{ email }}">{{ email }}</a></p>{% endif %}
          {% if phone %}<p>{{ phone }}</p>{% endif %}
        </div>
      {% endif %}
      {% if address %}
      <div class="personal-profile-info-card__contact-box-column">
        <p>{{ address }}</p>
      </div>
      {% endif %}
    </div>
  {% endif %}
    {% if social_networks %}
      {% if social_networks|first.link %}
        <ul class="personal-profile-info-card__contact-box-social">
          {% for network in social_networks %}
            {% if network.link | length %}
            <li>
              <a href="{{ network.link|e('esc_url') }}" target="_blank">
                {% if network.network == "Instagram" or network.network == "Flickr"  %}
                  <i class="fak fa-iastate22-{{ network.network|lower|e('esc_attr') }}" aria-hidden="true"></i>
                {% elseif network.network == "Podcast" %}
                  <i class="fas fa-podcast"></i>
                {% elseif network.network == "Blog" %}
                  <i class="fa-solid fa-blog"></i>
                {% elseif network.network == "Directory" %}
                  <i class="fa-regular fa-folder-open"></i>
                {% else %}
                  <i class="fa-brands fa-{{ network.network|lower|e('esc_attr') }}" aria-hidden="true"></i>
                {% endif %}
                <span class="visible-for-screen-readers">{{ network.network }}</span>
              </a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      {% endif %}
  </div>
</div>
