<nav class="subnav" aria-label="Sidebar">
  <noscript>
    <button class="subnav__toggle" id="subnav-toggle" aria-controls="subnav-list" aria-haspopup="true" aria-expanded="false"><span>Explore This Section</span></button>
  </noscript>
  <div class="subnav__list" id="subnav-list">
    <ul>
      <li>
        <a href="{{ function('get_permalink', rent) }}">{{ parent_title }}</a>
      </li>
      {% for link in ks_sidebar_menu.items %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>

          {% if link.children|length > 0 %}
          <ul>
            {% for child in link.children %}
            <li>
              <a href="{{ child.url }}">{{ child.title }}</a>
            </li>
            {% endfor %}
          </ul>
        {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>